NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key

# Mr. Clean Admin Info
ADMIN_WHATSAPP_NUMBER=081902156350
NEXT_PUBLIC_APP_NAME=Mr. Clean Laundry
NEXT_PUBLIC_APP_PHONE=081902156350
NEXT_PUBLIC_APP_ADDRESS=Limbangan Wetan, Kec. Brebes, Kabupaten Brebes, Jawa Tengah
